<header class="app-header">
  Voici l'entête de la page admin
</header>

<main>
  <div class="admin-container">
    <div class="stat-container">
      <div class="stat-card">
        <h3>Utilisateurs inscrits</h3>
        <p>{{usersCount}}</p>
      </div>
      <div class="stat-card">
        <h3>Recettes ajoutées</h3>
        <p>{{recettesCount}}</p>
      </div>
      <div class="stat-card">
        <h3>Ingrédients en base</h3>
        <p>{{ingredientsCount}}</p>
      </div>
    </div>
  </div>
  <div class="Enpoints">
    <h2>Endpoints Admin</h2>
    <div class="Utilisateurs">
      <h3>Utilisateurs</h3>
      <div class="read">
        <h4>Voir un utilisateur</h4>
        <input type="text" placeholder="Nom d'utilisateur" [(ngModel)]="readUserModel.username">
        <button (click)="getUser()">Voir</button>
        <div *ngIf="readUserResult">
          <p><strong>ID:</strong> {{ readUserResult.idUtilisateur}}</p>
          <p><strong>Nom d'utilisateur:</strong> {{ readUserResult.nomUtilisateur }}</p>
          <p><strong>Email:</strong> {{ readUserResult.email }}</p>
          <p><strong>Mot de passe:</strong> {{ readUserResult.motDePasse }}</p>
          <p><strong>Rôle:</strong> {{ readUserResult.role }}</p>
          <p><strong>Date de création:</strong> {{ readUserResult.dateCreation | date:'dd/MM/yyyy hh:mm' }}</p>
        </div>
        <div class="create">
          <h4>Créer un utilisateur</h4>
          <input type="text" placeholder="Nom d'utilisateur" [(ngModel)]="createUserModel.nomUtilisateur">
          <input type="email" placeholder="Email" [(ngModel)]="createUserModel.email">
          <input type="password" placeholder="Mot de passe" [(ngModel)]="createUserModel.motDePasse">
          <select [(ngModel)]="createUserModel.role">
            <option value="user">user</option>
            <option value="admin">admin</option>
          </select>
          <button (click)="createUser()">Créer</button>
        </div>
        <div class="update">
          <h4>Modifier un utilisateur</h4>
          <input type="text" placeholder="Nom d'utilisateur à modifier" [(ngModel)]="updateUserModel.usernameToUpdate">
          <input type="text" placeholder="Nouveau nom d'utilisateur" [(ngModel)]="updateUserModel.nomUtilisateur">
          <input type="email" placeholder="Nouvel email" [(ngModel)]="updateUserModel.email">
          <input type="password" placeholder="Nouveau mot de passe" [(ngModel)]="updateUserModel.motDePasse">
          <select [(ngModel)]="updateUserModel.role">
            <option value="user">user</option>
            <option value="admin">admin</option>
          </select>
          <button (click)="updateUser()">Modifier</button>
        </div>
        <div class="delete">
          <h4>Supprimer un utilisateur</h4>
          <input type="text" placeholder="Nom d'utilisateur à supprimer" [(ngModel)]="deleteUserModel.username">
          <button (click)="deleteUser()">Supprimer</button>
        </div>
      </div>
    </div>
    <div class="Recettes">
      <h3>Recettes</h3>
      <div class="read">
        <h4>Voir une recette</h4>
        <input type="number" placeholder="ID de la recette" [(ngModel)]="readRecetteModel.id">
        <button (click)="getRecette()">Voir</button>
        <div *ngIf="readRecetteResult">
          <p><strong>ID:</strong> {{ readRecetteResult.idRecette }}</p>
          <p><strong>Titre:</strong> {{ readRecetteResult.titre }}</p>
          <p><strong>Description:</strong> {{ readRecetteResult.description }}</p>
          <p><strong>Instructions:</strong> {{ readRecetteResult.instructions }}</p>
          <p><strong>Temps de préparation:</strong> {{ readRecetteResult.tempsPreparationMinutes }}</p>
          <p><strong>Temps de cuisson:</strong> {{ readRecetteResult.tempsCuissonMinutes }}</p>
          <p><strong>Nombre de personnes:</strong> {{ readRecetteResult.nombrePersonnes }}</p>
          <p><strong>Image:</strong> {{ readRecetteResult.pathImage }}</p>
        </div>
      </div>
      <div class="create">
        <h4>Créer une recette</h4>
        <input type="text" placeholder="Titre" [(ngModel)]="createRecetteModel.titre">
        <input type="text" placeholder="Description" [(ngModel)]="createRecetteModel.description">
        <input type="text" placeholder="Instructions" [(ngModel)]="createRecetteModel.instructions">
        <input type="number" placeholder="Temps de préparation" [(ngModel)]="createRecetteModel.tempsPreparationMinutes">
        <input type="number" placeholder="Temps de cuisson" [(ngModel)]="createRecetteModel.tempsCuissonMinutes">
        <input type="number" placeholder="Nombre de personnes" [(ngModel)]="createRecetteModel.nombrePersonnes">
        <input type="text" placeholder="Chemin de l'image" [(ngModel)]="createRecetteModel.pathImage">
        <button (click)="createRecette()">Créer</button>
      </div>
      <div class="update">
        <h4>Modifier une recette</h4>
        <input type="number" placeholder="ID de la recette à modifier" [(ngModel)]="updateRecetteModel.idToUpdate">
        <input type="text" placeholder="Nouveau titre" [(ngModel)]="updateRecetteModel.titre">
        <input type="text" placeholder="Nouvelle description" [(ngModel)]="updateRecetteModel.description">
        <input type="text" placeholder="Nouvelles instructions" [(ngModel)]="updateRecetteModel.instructions">
        <input type="number" placeholder="Nouveau temps de préparation" [(ngModel)]="updateRecetteModel.tempsPreparationMinutes">
        <input type="number" placeholder="Nouveau temps de cuisson" [(ngModel)]="updateRecetteModel.tempsCuissonMinutes">
        <input type="number" placeholder="Nouveau nombre de personnes" [(ngModel)]="updateRecetteModel.nombrePersonnes">
        <input type="text" placeholder="Nouveau chemin de l'image" [(ngModel)]="updateRecetteModel.pathImage">
        <button (click)="updateRecette()">Modifier</button>
      </div>
      <div class="delete">
        <h4>Supprimer une recette</h4>
        <input type="number" placeholder="ID de la recette à supprimer" [(ngModel)]="deleteRecetteModel.id">
        <button (click)="deleteRecette()">Supprimer</button>
      </div>
    </div>
  </div>
</main>